/* see man 5 wofi */

/* global */
* {
    border: none;
    border-radius: 3px;
}

/* window */
#window {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.9);
    font-family: "Roboto Mono Medium", sans-serif;
    font-size: 24px;
}

/* search input */
#input {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.25rem;
}

/* entry */
#entry {
    padding: 0.25rem;
}

/* selected entry */
#entry:selected {
    background-color: #94e2d5;
    background: linear-gradient(90deg, #bbccdd, #cca5dd);
}

/* selected entry text */
#text:selected {
    color: #333333;
    background: transparent;
}

/* entry images */
/* TODO normalize styles for entries with dropdowns, ideally line them up */
#img {
    margin: 0 0.25rem;
}

/* selected entry image */
#img:selected {
    background: transparent;
}
